.logo {
  margin: .3em 0;
  font-weight: bold;
  color: #0066ba; }
  .logo.logo-white {
    color: white; }
  .logo .logo-facts {
    color: #f55b5b; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background: white; }
  nav .subtitle {
    color: black; }

@media (max-width: 600px) {
  nav {
    flex-direction: column; }
    nav .subtitle {
      margin-top: 0; } }
footer {
  padding: 3em 0;
  background: #0066ba;
  text-align: center; }

button {
  margin: 1em;
  padding: 1em;
  width: 10em;
  border: 0;
  font-size: 1.2em;
  border-radius: .3em;
  outline: 0; }
  button.btn-red {
    background: #f55b5b;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out; }
    button.btn-red:hover {
      background: #fbbbbb; }
  button.btn-green {
    background: #45d363;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out; }
    button.btn-green:hover {
      background: #97e7a8; }

body {
  font-family: "Roboto Slab", serif;
  background: #0066ba;
  color: white;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: white; }

hr {
  width: 100%; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto; }

#quote-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #quote-header #header-img {
    height: 15em;
    margin-top: 2em; }

#quote {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  text-align: center; }

#quote-context {
  width: 50%;
  font-family: "Arimo", sans-serif;
  font-size: 1.2em;
  text-align: center; }

.contribute-topics {
  margin: 9em 0 0 0; }
  .contribute-topics h2 {
    text-align: center;
    font-size: 3em; }
  .contribute-topics .topic {
    padding: 3em 5%; }
    .contribute-topics .topic h3 {
      font-size: 2em; }
  .contribute-topics > .topic:nth-of-type(1) {
    background: #45d363; }
  .contribute-topics > .topic:nth-of-type(2) {
    background: rebeccapurple; }
  .contribute-topics > .topic:nth-of-type(3) {
    background: #f55b5b; }
  .contribute-topics .topic-media {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    text-align: center; }
    .contribute-topics .topic-media p {
      padding: 1em; }
    .contribute-topics .topic-media img {
      display: block;
      width: 15em; }

#bernrate {
  background: white;
  text-align: center; }
  #bernrate iframe {
    padding: 1em;
    border: 0; }

@media (max-width: 600px) {
  #quote-header {
    flex-direction: column; }
    #quote-header button {
      width: 100%; }

  #header-img {
    display: none; }

  #quote-context {
    width: 80%;
    font-size: 1em; }

  #quote {
    font-size: 2em; } }
@media (max-width: 800px) {
  .topic-media {
    flex-direction: column;
    align-items: center; }
    .topic-media iframe {
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
