$bernie-blue: #0066ba;
$bernie-red: #f55b5b;
$bernie-green: #45d363;
$bernie-font: 'Arimo', sans-serif;
$bernie-quote-font: 'Roboto Slab', serif;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 1em;

  -moz-box-shadow:    0 1px 0 1px black;
  -webkit-box-shadow: 0 1px 0 1px black;
  box-shadow:         0 1px 0 1px black;
}

body {
  font-family: $bernie-quote-font;
  background: $bernie-blue;
}

.logo {
  text-shadow: 1px 1px darkgray;

  .logo-bern {
    color: $bernie-blue;
  }

  .logo-facts {
    color: $bernie-red;
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#quote {
  font-family: $bernie-quote-font;
  font-weight: normal;
  font-size: 2.8em;
  text-align: center;
  color: white;
}

#quote-context {
  width: 50%;
  font-family: $bernie-font;
  font-size: 1.2em;
  text-align: center;
  color: white;
}

#header-img {
  height: 15em;
  margin-top: 2em;
}

.button-container {
  display: flex;
  justify-content: center;

  button {
    margin: 1em;
    padding: 1em;
    width: 10em;
    border: 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px gray;

    &#new-quote {
      background: $bernie-red;
    }

    &#contribute {
      background: $bernie-green;
    }
  }
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;

    .subtitle {
      margin-top: 0;
    }
  }

  #quote-context {
    width: 80%;
    font-size: 1em;
  }

  #quote {
    font-size: 2em;
  }

  .button-container {
    flex-direction: column;
    align-items: center;

    button {
      width: 100%;
    }
  }
}
