@import 'variables';
@import 'logo';
@import 'nav';
@import 'footer';
@import 'buttons';
@import 'topics';

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: $bernie-fact-font;
  background: $bernie-blue;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: white;
}

hr {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#fact-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #header-img {
    height: 15em;
    margin-top: 2em;
  }
}

#fact {
  font-family: $bernie-fact-font;
  font-size: 3em;
  text-align: center;
}

#fact-context {
  width: 50%;
  font-family: $bernie-font;
  font-size: 1.2em;
  text-align: center;
}

#bernrate {
  background: white;
  text-align: center;

  iframe {
    padding: 1em;
    border: 0;
  }
}

@media (max-width: 600px) {
  #fact-header {
    flex-direction: column;
    order: 5;
    button {
      width: 100%;
      margin: .5em;
    }
  }

  #header-img {
    display: none;
  }

  #fact-context {
    width: 80%;
    font-size: 1em;
  }

  #fact {
    font-size: 2em;
  }
}
