$bernie-blue: #0066ba;
$bernie-red: #f55b5b;
$bernie-font: 'PT Sans', sans-serif;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 1em;
}

body {
  font-family: $bernie-font;
  background: $bernie-blue;
}

.logo-bern {
  color: $bernie-blue;
}

.logo-facts {
  color: $bernie-red;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;

    .subtitle {
      margin-top: 0;
    }
  }
}
